html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #282E33;
    background-color: #EFF2E2;
    margin: 0;
}

.content {
    max-width: 600px;
    margin-left: 15%;
    margin-bottom: 15%;
}

.intro {
    line-height: 1.5em;
    padding: 1em;
    background-color: #D6D8C9;
    border-radius: 1em;
}

h2 {
    font-family: 'Lily Script One';
    font-size: 3em;
    width: fit-content;
    height: fit-content;
    margin: 2em 2em 1em 2em;
}

button {
    font-family: inherit;
    font-size: 1.3em;
    border-radius: 1.3em;
    padding: .5em;
    border: none;
    background-color: #D0B6A4
}

p.advice {
    font-style: italic;
    font-size: 1.3em;
    text-align: center;
    padding: 1.3em;
    background-color: #F19D94;
    border-radius: .5em;
}

.footer a {
    text-decoration: none;
    font-family: inherit;
    font-size: 1.3em;
    color: inherit;
    width: fit-content;
    height: fit-content;
}

.footer {
    background-color: #D6D8C9;
    width: 100%;
    height: fit-content;
    bottom: 0;
    position: fixed;
    padding: 1em;
    text-align: center;
}